Repository rajasoun/aws-hub, pull requests merged in 2022-05, with the labels that each got.

#2 refactor(iam_handler): reduce duplication of code through modularization
  handlers/aws/iam_handler.go
Labels: refactor

#4 develop to main
  .devcontainer/.store/.gitignore
  .devcontainer/.store/.gitkeep
  handlers/aws/config_handler.go
  handlers/aws/handler.go
  handlers/aws/iam_handler.go
  hub/server.go
Labels: fix

#5 Update README.md
  README.md
Labels: docs

#15 tdd with min functionality
  Makefile
  go.mod
  test/understand_test.go
Labels: test

#16 tdd with min functionality
  Makefile
  go.mod
  go.sum
  handlers/aws/api_routes.go
  handlers/aws/costexplorer_handler.go
  handlers/aws/iam_handler.go
  services/aws/cost/aws.go
  services/aws/cost/bill_forecast.go
  services/aws/cost/bill_usage.go
  services/aws/cost/cost.go
  services/aws/gateway.go
  services/aws/iam.go
  services/aws/iam/accountalias.go
  services/aws/iam/accountalias_test.go
  services/aws/iam/usercount.go
  services/aws/iam/usercount_test.go
  services/aws/iam/useridentity.go
  services/aws/iam/useridentity_test.go
  test/api_test.go
  test/summary.sh
Labels: test

#20 tdd with min functionality
  Makefile
  handlers/aws/config.go
  handlers/aws/handler.go
  handlers/aws/handler_integration_test.go
  handlers/aws/route_handler_api.go
  handlers/aws/route_handler_api_test.go
  services/aws/gateway.go
  test/coverage_check.sh
  test/summary.sh
Labels: refactor, test
